@import "../_utils.less";

.collection {
    .clearfix();
    padding-top: 40px;
    }

.collection_item {
    .column();
    float: left;
    margin-bottom: 20px;

    .tablet-portrait-breakpoint({
        .column(2, @tabletPortraitBreakpoint);
        });

    .tablet-landscape-breakpoint({
        .column(3, @tabletLandscapeBreakpoint);
        });
    }