footer {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    padding-top: 225px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    }

.footer_left {
    width: 920px;
    }

.footer_socials {

    }

.footer_top {
    margin-left: auto;
    }

.footer_link {
    float: left;
    cursor: pointer;
    }
.footer_link + .footer_link {
    margin-left: 17px;
    }

.footer_link:hover {
    text-decoration: underline;
    }