@import "../_utils.less";

footer {
    padding-bottom: 20px;
    padding-top: 140px;

    .large-desktop-breakpoint({
        display: flex;
        });
    }

.footer_main {
    .column2(6);

    .large-desktop-breakpoint({
        .column2(5);
        });
    }

.footer_additional {
    .column2(6);
    margin-top: 30px;

    .large-desktop-breakpoint({
        .column2(1);
        margin-top: 0;
        text-align: right;
        });
    }

.footer_link {
    .nav-link();
    .large-text();
    display: block;
    width: max-content;

    .large-desktop-breakpoint({
        .small-text();
        display: inline-block;
        margin-top: 0;

        & + & {
            margin-left: 15px;
            }
        });
    }
