@import "../_utils.less";

.item {
    padding-top: 70px;
    }

    .item_preview {
        .column2(6);
        margin-bottom: 20px;

        .tablet-landscape-breakpoint({
            height: 0;
            overflow: hidden;
            margin-bottom: 0;
            })
        }

    .item_preview-img {
        width: 100%;
        display: block;
        }

    .item_header {

        .small-desktop-breakpoint({
            display: flex;
            })
        }

        .item_info {
            .column2(6);
            .large-text2();
            font-size: 18px;
            margin-bottom: 29px;

            .small-desktop-breakpoint({
                .column2(4);
                margin-bottom: 24px;
                order: 1;
                });
            }

            .item_info-title {
                text-transform: uppercase;
                margin-bottom: 20px;
                }

            .item_info-text {
                margin-bottom: 30px;
                }

            .item_info-previews {
                position: relative;
                top: -6px;
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;

                .small-desktop-breakpoint({
                    margin-bottom: 60px;
                    })
                }

                .item_info-previews-item {
                    width: 70px;
                    height: 100px;
                    box-sizing: border-box;
                    border: 1px transparent solid;
                    cursor: pointer;

                    & + &  {
                        margin-left: 1px;
                        }

                    &.__active {
                        border: 1px #000 solid;
                        }
                    }

                    .item_info-previews-img {
                        width: 70px;
                        height: 100px;
                        }

            .item_info-tabs {
                padding-top: 1px;
                }

            .item_info-tabs-head {
                margin-bottom: 20px;
                border-top: 1px black solid;

                .tablet-landscape-breakpoint({
                    border: 0 none;
                    })
                }

                .item_info-tab-item {
                    position: relative;
                    padding: 5px 0 4px;
                    border-bottom: 1px black solid;

                    .tablet-landscape-breakpoint({
                        display: inline-block;
                        vertical-align: top;
                        padding: 0;
                        margin-right: 20px;
                        border: 0 none;
                        })
                    }

                .item_info-link {
                    .small-text2();
                    top: 0;
                    display: flex;
                    cursor: pointer;

                    &.__active {
                        color: #000;
                        }

                    &:after {
                        content: '+';
                        position: absolute;
                        top: -1px;
                        right: 0;
                        }

                    &.__active:after {
                        content: '–';
                        }

                    .tablet-landscape-breakpoint({
                        top: 8px;

                        &:after {
                            display: none;
                            }
                        })
                    }

            .item_info-tab {
                display: none;

                & h1 {
                    text-transform: uppercase;
                    }

                & p {
                    margin-bottom: 20px;
                    }

                &.__active {
                    display: block;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    .tablet-landscape-breakpoint({
                        display: none;

                        .item_info-tabs-body & {
                            display: block;
                            }
                        })
                    }
                }

            .item_info-tabs-body {
                display: none;

                .tablet-landscape-breakpoint({
                    display: block;
                    })
                }

        .item_options {
            .column2(6);
            margin-bottom: 30px;

            .small-desktop-breakpoint({
                .column2(2);
                margin-bottom: 25px;
                });
            }

            .item_price {
                .small-text();
                margin-bottom: 20px;

                .tablet-landscape-breakpoint({
                    .large-text();
                    })
                }

                .item_original-price {
                    white-space: nowrap;
                    }

                .item_old-price {
                    color: #a5a5a5;
                    text-decoration: line-through;
                    white-space: nowrap;
                    margin-right: 10px;
                    }

            .item_sizes {
                font-size: 0;

                .tablet-landscape-breakpoint({
                    margin-bottom: 30px;
                    })
                }

                .item_size-option {
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 5px;
                    margin-bottom: 5px;
                    }

                    .item_size-option-radio {
                        display: none;
                        }

                    .item_size-option-text {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35px;
                        height: 35px;
                        text-transform: uppercase;
                        font-size: 20px;
                        border: 1px #000 solid;
                        border-radius: 50%;
                        box-sizing: border-box;
                        cursor: pointer;

                        .small-desktop-breakpoint({
                            width: 55px;
                            height: 55px;
                            font-size: 28px;
                            });

                        .item_size-option-radio:disabled + & {
                            border-color: #a5a5a5;
                            color: #a5a5a5;
                            cursor: default;
                            }

                        .item_size-option-radio:checked + & {
                            background-color: #000;
                            color: #fff;
                            cursor: default;
                            }
                        }

            .item_buy {

                }

                .item_buy-submit {
                    .large-text2();
                    appearance: none;
                    border: 0 none;
                    padding: 0;
                    margin: 0;
                    color: #000;
                    cursor: pointer;
                    text-align: left;
                    background: transparent;

                    &:after {
                        content: '➔';
                        margin-left: 5px;
                        }
                    }
                    
    .item_views {
        .clearfix();
        margin-bottom: 100px;
        }

        .item_media {
            .column();
            float: left;
            margin-bottom: 20px;

            .tablet-portrait-breakpoint({
                .column(2, @tabletPortraitBreakpoint);
                });

            .tablet-landscape-breakpoint({
                .column(3, @tabletLandscapeBreakpoint);
                });
            }

            .item_img {
                display: block;
                width: 100%;
                }

