@import "../_utils.less";

.top-menu {
    height: 70px;
    }

    .top-menu_cnt {
        position: fixed;
        top: 0;
        left: 0;
        //width: 100%;
        /*background: #fff;*/
        width: 0;
        z-index: 100;

        //overflow: hidden;
        }


        .top-menu_cnt {
            box-sizing: border-box;
            height: 100%;

            &.__open {
                width: 100%;
                overflow: auto;
                }
            }

        .top-menu_overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            visibility: hidden;
            opacity: 0;

            .top-menu_cnt.__open & {
                visibility: visible;
                opacity: 0.3;
                }
            }

        .nav_w {
            display: flex;
            flex-direction: column;
            position: relative;
            transform: translateX(-100%);
            transition: transform 0.3s;
            min-height: 100%;
            background: #fff;
            width: 320px;
            overflow: hidden;
            padding: 60px 15px 0;
            box-sizing: border-box;

            .top-menu_cnt.__open & {
                transform: translateX(0);
                }
            }

            .nav_open-button {
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                font-size: 40px;
                z-index: 10;

                &:before {
                    content: '☰';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    }

                .top-menu_cnt.__open &:before {
                    content: '✕';
                    }
                }

        .nav_dropdown {
            position: absolute;
            top: 80px;
            left: 100%;
            width: 100%;
            visibility: hidden;
            transition: visibility 0s 0.6s;

            .nav_i.__hover & {
                visibility: visible;
                transition: none;
                }
            }

            .nav_dropdown_i {
                .large-text();
                display: block;
                margin-bottom: 10px;
                }

        .nav_menu {
            order: 1;

            position: relative;
            margin-right: 50%;

            transition: transform 0.6s;
            margin-right: 0;

            &.__open {
                transform: translateX(-100%);
                }
            }

            .nav_i {
                margin-bottom: 10px;

                &.__with-dropdown {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;

                    .nav_menu.__open &:after {
                        opacity: 0;

                        transition: .15s;
                        }

                    &:after {
                        content: '↳';
                        margin-left: 5px;
                        text-decoration: none;
                        font-size: 28px;
                        opacity: 1;
                        transition: .15s 0.6s;
                        }
                    }
                }

        .nav_back {
            display: none;

            width: 60px;
            height: 60px;;
            
            position: absolute;
            top: 0;
            left: 100%;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '↲';
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 40px;
                }

            .nav_menu.__open & {
                display: block;
                margin-left: -15px;
                }
            }

        .nav_search {
            height: 60px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            & .nav_title {
                font-size: 28px;
                line-height: 1.2;
                top: 0;
                }

            &.__open .nav_title {
                display: none;
                }
            }

            .nav_search-form {
                display: none;
                position: relative;
                background-color: #000;
                flex-grow: 1;

                .nav_search.__open & {
                    display: block;
                    }
                }

            .nav_search-input {
                box-sizing: border-box;
                width: 100%;
                height: 60px;
                padding: 0 60px 0 10px;
                color: #fff;
                font-size: 28px;
                background-color: transparent;
                border: 0 none;

                &:focus {
                    outline: none;
                    }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button,
                &::-webkit-search-results-button,
                &::-webkit-search-results-decoration {
                    -webkit-appearance:none;
                    }
                }

            .nav_search-form-close {
                position: absolute;
                top: 50%;
                right: 0;
                width: 60px;
                height: 60px;
                margin-top: -30px;

                &:before {
                    content: '✕';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 40px;
                    }
                }

    .nav_title {
        .large-text();
        }

.nav_link {
    .nav-link();
    }

/*
.nav_w {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    padding: 14px 20px;
    box-sizing: border-box;
    }

    .nav_i {
        position: relative;
        float: left;

        & + & {
            margin-left: 17px;
            }
        }

.nav_title {
    position: relative;
    z-index: 1;
    }

.nav_dropdown {
    padding-top: 7px;
    padding-bottom: 5px;
    line-height: 25px;
    width: 0;
    display: none;

    .nav_i.__hover & {
        display: block;
        }
    }

    .nav_dropdown_i {
        white-space: nowrap;
        }

.nav_menu {
    width: 920px;
    }

.nav_search {
    width: 176px;
    }

.nav_search .nav_title {
    display: inline;
    }

.nav_search .nav_title:hover {
    text-decoration: underline;
    }

.nav_aside {
    overflow: hidden;
    margin-left: auto;
    }

.nav_aside_i {
    float: left;
    cursor: pointer;
    }
.nav_aside_i:hover {
    text-decoration: underline;
    }

.nav_aside_i + .nav_aside_i {
    margin-left: 17px;
    }
    */