<div class="half-layout">
    <div class="half-layout_column __main">
        <div class="half-layout_header">
            <div class="half-layout_header-left">Страница не найдена</div>
        </div>

        <p>Если вы уверены, что что-то пошло не так и тут точно должно быть что-то полезное, напишите на <a href="mailto:novayawear@gmail.com">novayawear@gmail.com</a></p>

        <div class="p404-menu">
            <div class="p404-menu_item">
                <a href="./" class="p404-menu_link">Главная</a>
            </div>
            <div class="p404-menu_item">
                <a href="./catalog" class="p404-menu_link">Каталог</a>
            </div>
            <div class="p404-menu_item">
                <a href="./women" class="p404-menu_link">Женское</a>
            </div>
            <div class="p404-menu_item">
                <a href="./man" class="p404-menu_link">Мужское</a>
            </div>
            <div class="p404-menu_item">
                <a href="./brand" class="p404-menu_link">Бренд</a>
            </div>
        </div>
    </div>
    <div class="half-layout_column">
        <img src="img/login/lora_404.jpg" class="half-layout_cover" />
    </div>
</div>