<!DOCTYPE html>
<html lang="ru" class="js-hook no-js" data-module="Grid MouseTitle">

    <%- partial("_partials/_head"); %>

    <body>
        <%- yield %>
        <%- partial("_partials/_grid"); %>
    </body>

</html>