<!DOCTYPE html>
<html lang="ru" class="js-hook no-js" data-module="Grid">

<%- partial("_partials/_head"); %>

<body>
<div class="wrapper">
    <div class="wrapper_content">
        <%- partial("_partials/_back-header"); %>

        <%- yield %>
    </div>

</div>
<%- partial("_partials/_grid"); %>
</body>

</html>