<!DOCTYPE html>
<html lang="ru" class="js-hook no-js" data-module="Grid">
    <head>
        <title>N o v a y a</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no"/>

        <!--<link rel="shortcut icon" href="./favicon.png" type="image/png">-->

        <link rel="stylesheet" type="text/css" href="./css/style.css" media="screen, print">
        <!--<script type="text/javascript">
            document.documentElement.className="js-hook";
        </script>
        <script type="text/javascript" src="./js/App.js" defer="defer"></script>-->
    </head>


    <body>
        <div class="wrapper">
            <div class="wrapper_content">
                <%- yield %>
            </div>

            <!--
            <div class="wrapper_footer">
                <%- partial("_partials/_footer"); %>
            </div>
            -->
        </div>
    </body>

</html>