<div class="text-page">
    <div class="text">
        <h1>РЕКВИЗИТЫ</h1>

        <p>
            Индивидуальный предприниматель<br />
            Голубева Ольга Геннадьевна<br />
            ИНН: 781428790404<br />
            ОГРНИП: 310784713100129<br />
            Юридический адрес: 197373, Санкт-Петербург,<br />
            пр. Авиаконструкторов д. 17-178<br />
            Банк: Северо-Западный Банк ПАО «Сбербанк России»<br />
            г. Санкт-Петербург<br />
            Р/с 40802810655230000622<br />
            БИК 044030653<br />
            К/с 30101810500000000653<br />
            E-mail: <a href="mailto:novayawear@gmail.com">novayawear@gmail.com</a>
        </p>
    </div>
</div>