<div class="text-page">
    <div class="text">
        <h1>BRAND BIOGRAPHY</h1>
        <p>Бренд Novaya появился в 2011 году в Сaнкт-Петербурге, в городе, где зимa соствляет 9 месяцев в году — именно поэтому зa основу былa взята концепция рaзрaботки верхней одежды.</p>
        <p>Учитывая дождливую и ветреную погоду Северной столицы, мы создаем одновременно легкие и теплые вещи, используя водоотталкивающие ткани, а также высокотехнологичный практичный в уходе бельгийский утеплитель ISOSOFT, который сохраняет ощущение комфорта и в +5, и в -25, не теряет форму, легко стирается и быстро сохнет.</p>
        <p>Сегодня Novaya — небольшое предприятие и экспериментальная студия, находящаяся в постоянном поиске новых конструкций и материалов отвечающих современным требованиям жизни в большом городе.</p>
    </div>
</div>

<div class="brand-page js-hook" data-module="Gallery">
    <div class="brand-page_item" data-src="./img/brand/img1.jpg">
        <img class="brand-page_img js-hook" src="./img/brand/img1.jpg" data-module="ImageAlign" />
        <div class="brand-page_title">AW 2016</div>
    </div>

    <div class="brand-page_item" data-src="./img/brand/img2.jpg">
        <img class="brand-page_img js-hook" src="./img/brand/img2.jpg" data-module="ImageAlign" />
        <div class="brand-page_title">SS 2018</div>
    </div>
</div>

<div class="text-page">
    <div class="text">
        <p>Мы производим только небольшие партии. На каждую модель отшивается не более 50 единиц, таким образом, мы можем контролировать качество каждого изделия самостоятельно.</p>
    </div>
</div>