<article class="catalog">
        <div class="catalog-list js-hook" data-module="Loader" data-url="./catalog-loader">
            <% for(var i = 0; i < public._data['catalog'].items.length; i++) { %>
                <div class="catalog-list_item">
                    <%- partial("_partials/_catalog-card", public._data['catalog'].items[i]); %>
                </div>
            <% } %>
        </div>
</article>
