<div class="personal-page">
    <div class="personal-page_menu">
        <%- partial("_partials/_personal-menu"); %>
    </div>
    <div class="personal-page_main">
        <form>
            <div class="form_i">
                <a class="password-recovery" href="./recovery">Забыли пароль</a>
                <label class="label-block" for="password">Действующий пароль</label>
                <input type="password" id="password" class="base-input" />
            </div>

            <div class="form_i">
                <label class="label-block" for="new-password">Новый пароль</label>
                <input type="password" id="new-password" class="base-input" />
            </div>

            <div class="form_i">
                <label class="label-block" for="repeat-password">Подтвердите пароль</label>
                <input type="password" id="repeat-password" class="base-input" />
            </div>

            <div class="form_i">
                <button type="submit" class="button">Сохранить</button>
            </div>
        </form>
    </div>
</div>