<div class="collections_item">
    <%- partial("_partials/_overlay-card", {
        image: './img/collections/img1.jpg',
        title: 'Lookbook SS 19',
        href: './collection'
    }); %>
</div>
<div class="collections_item">
    <%- partial("_partials/_overlay-card", {
        image: './img/collections/img2.jpg',
        title: 'Lookbook FW 18 19',
        href: './collection'
    }); %>
</div>
<div class="collections_item">
    <%- partial("_partials/_overlay-card", {
        image: './img/collections/img3.jpg',
        title: 'Campaign FW 16 17',
        href: './collection'
    }); %>
</div>