<div class="contacts-page">
    <div class="contacts-page_topic">
        <div class="contacts-page_main">
            <div class="contacts-page_wide">
                <a href="http://instagram.com/novaya.wear">instagram.com/novaya.wear</a><br/>
                <a href="http://vk.com/novaya.wear">vk.com/novaya.wear</a><br/>
                <a href="http://facebook.com/novaya.wear">facebook.com/novaya.wear</a>
            </div>
            <div class="contacts-page_wide">
                Мы ищем партнеров для развития бренда.<br />
                По всем вопросам сотрудничества пишите.
            </div>

            <div class="contacts-page_short-wrapper">
                <div class="contacts-page_short">
                    Сотрудничество<br />
                    Ольга Голубева<br />
                    +7 911 956 78 08<br />
                    <a href="mailto:novayawear@gmail.com">novayawear@gmail.com</a>
                </div>
                <div class="contacts-page_short">
                    Оптовые закупки<br />
                    Ольга Лаптева<br />
                    +7 912 210 17 85<br />
                    <a href="mailto:novayasales@gmail.com">novayasales@gmail.com</a>
                </div>
            </div>
        </div>
        <div class="contacts-page_media">
            <img class="contacts-page_img js-hook" src="./img/contacts/img.jpg" data-module="VerticalGridAligner" />
        </div>
    </div>
</div>