<div class="text-page">
    <div class="text">
        <h1>ДОСТАВКА</h1>
        <ol>
            <li>
                <h2>САМОВЫВОЗ ИЗ ШОУ-РУМА</h2>
                <p>Адрес: Санкт — Петербург, м. Чкаловская, ул. Ораниенбаумская 27, территория Б/Ц Печатный двор, 1-ый этаж. Вход осуществляется по пропускам через проходную. Просим Вас предварительно звонить перед визитом, чтобы нужная модель была в наличии. т. +7 911 956 78 08.</p>
            </li>
            <li>
                <h2>КУРЬЕРСКАЯ ДОСТАВКА ПО САНКТ–ПЕТЕРБУРГУ 350 руб</h2>
                <p>Данный способ можно осуществить после подтверждения заказа в течение следующих двух рабочих дней. Если Вы сомневаетесь в размере или цвете, курьер может привезти дополнительный размер или цвет на выбор и подождать в течение 15 минут (если есть необходимость для примерки).</p>
            </li>
            <li>
                <h2>МОСКВА И МОСКОВСКАЯ ОБЛАСТЬ 610 руб</h2>
                <p>осуществляется Курьерской службой «Балтийский курьер». Срок доставки 1-2 дня после подтверждения заказа. Стоимость доставки зависит от количества заказанных вещей. Доставка одного изделия составит 610р.</p>
            </li>
            <li>
                <h2>ДОСТАВКА ПО РОССИИ  500–750 руб</h2>
                <p>осуществляется курьерской службой EMS Почта России. Сроки и стоимость доставки зависят от региона и веса отправления, их можно рассчитать индивидуально на сайте: <a href="http://emspost.ru/ru/calc/">http://emspost.ru/ru/calc/</a>. Обычно это 3–4 дня, стоимость: 500-750 руб. Курьер сможет доставить ваш заказ домой или в офис. По возможности оставайтесь на связи, обычно перед доставкой звонит оператор и уточняет время и возможность доставки. Если до Вас не смогли дозвониться, то товар привезут в порядке очереди. Убедительно просим Вас точно указывать адрес доставки и контактный телефон.</p>
            </li>
        </ol>
    </div>
</div>