<nav>
    <div class="nav_w">
        <div class="nav_menu">
            <div class="nav_i">
                <div class="nav_title">New</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Women</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Куртки</div>
                    <div class="nav_dropdown_i">Пальто</div>
                    <div class="nav_dropdown_i">Плащи</div>
                    <div class="nav_dropdown_i">Трикотаж</div>
                    <div class="nav_dropdown_i">Платья</div>
                    <div class="nav_dropdown_i">Костюмы</div>
                    <div class="nav_dropdown_i">Брюки</div>
                    <div class="nav_dropdown_i">Аксессуары</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Men</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Куртки</div>
                    <div class="nav_dropdown_i">Пальто</div>
                    <div class="nav_dropdown_i">Плащи</div>
                    <div class="nav_dropdown_i">Аксессуары</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Liniya</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Sale</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Информация</div>
                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Доставка</div>
                    <div class="nav_dropdown_i">Оплата</div>
                    <div class="nav_dropdown_i">Возврат</div>
                    <div class="nav_dropdown_i">Изософт</div>
                    <div class="nav_dropdown_i">Оптовикам</div>
                    <div class="nav_dropdown_i">Реквизиты</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Бренд</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Коллекции</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Campaign SS18</div>
                    <div class="nav_dropdown_i">Lookbook SS/18</div>
                    <div class="nav_dropdown_i">Lookbook FW17/18</div>
                    <div class="nav_dropdown_i">Трикотаж</div>
                    <div class="nav_dropdown_i">Campaign SS17</div>
                    <div class="nav_dropdown_i">Lookbook SS17</div>
                    <div class="nav_dropdown_i">Campaign FW16/17</div>
                </div>
            </div>
            <div class="nav_i"><div class="nav_title">Контакты</div></div>
            <div class="nav_i"><div class="nav_title __active">Магазины</div></div>
        </div>
        <div class="nav_search">
            <div class="nav_title">Поиск</div>
        </div>
        <div class="nav_aside">
            <div class="nav_aside_i">Вход / Регистрация</div>
            <div class="nav_aside_i">Корзина</div>
        </div>

    </div>
</nav>

<header>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1360 370.5" style="enable-background:new 0 0 1360 370.5;" xml:space="preserve" width="1360">
<g>
    <path d="M371.3,82.9c-53.4,0-97,44-97,97.4c0,53.4,43.6,97,97,97c53.4,0,97.4-43.6,97.4-97C468.7,126.9,424.7,82.9,371.3,82.9z
		 M371.3,237c-31.4,0-57-25.2-57-56.6c0-31.8,25.6-57,57-57c31.4,0,57,25.2,57,57C428.3,211.7,402.7,237,371.3,237z"/>
    <polygon points="185.1,190.9 180.1,190.9 34.8,0 0,0 0,275 41,275 41,84.9 46,84.9 191.2,275 226,275 226,0 185.1,0 	"/>
    <path d="M863.9,86v17.1h-5v0c-13.3-12.5-34.1-19.9-52.8-19.9c-53.4,0-97,43.6-97,97c0,53.4,43.6,97,97,97
		c18.7,0,39.5-7.4,52.8-19.9v0h5V275h39.7v-94.7V86H863.9z M806.2,237c-31.4,0-57-25.2-57-56.6c0-31.8,25.6-57,57-57
		c31.4,0,57,25.2,57,57C863.2,211.7,837.6,237,806.2,237z"/>
    <polygon points="645.1,86.4 591.4,206.6 586.4,206.6 532.7,86.4 489.1,86.4 572.4,275 605.4,275 688.7,86.4 	"/>
    <polygon points="1102.9,86.4 1102.5,86.4 1048.6,206.6 1044.2,206.6 990.5,86.4 946.9,86.4 1024.1,261.3 975.2,370.5 1021.2,370.5
		1146.5,86.4 	"/>
    <path d="M1320.3,86v17.1h-5v0c-13.3-12.5-34.1-19.9-52.8-19.9c-53.4,0-97,43.6-97,97c0,53.4,43.6,97,97,97
		c18.7,0,39.5-7.4,52.8-19.9v0h5V275h39.7v-94.7V86H1320.3z M1262.6,237c-31.4,0-57-25.2-57-56.6c0-31.8,25.6-57,57-57
		c31.4,0,57,25.2,57,57C1319.6,211.7,1294,237,1262.6,237z"/>
</g>
</svg>
</header>

<div class="stores">
    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Москва</div>
            <div class="stores_address">ул. Новодмитровская, 1, стр. 13</div>
            <br />
            <div class="stores_details">
                10 мин пешком от метро Дмитровская, <br />
                Хлебзавод, универмаг Марсаков
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img1.jpg" />
        </div>
    </div>

    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Санкт-Петербург</div>
            <div class="stores_address">ул. Ораниенбаумская, 29. БЦ</div>
            <br />
            <div class="stores_details">
                2 мин пешком от метро Чкаловская, <br />
                «Печатный двор», вход №2, этаж 4.
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img2.jpg" />
        </div>
    </div>

    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Екатеринбург</div>
            <div class="stores_address">ул. Малышева, 71</div>
            <br />
            <div class="stores_details">
                Универмаг BOLSHOY<br />
                2 этаж
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img3.jpg" />
        </div>
    </div>
</div>