<div class="text-page">
    <div class="text">
        <p>Включение сетки: <code> + ;</code></p>

        <ol>
            <li><p><a href="./registration">Регистрация</a></p></li>
            <li><p><a href="./login">Авторизация</a></p></li>
            <li><p><a href="./recovery">Восстановление пароля</a></p></li>
            <li><p><a href="./404">404</a></p></li>
            <li><p><a href="./collections">Коллекции</a></p></li>
            <li><p><a href="./collection">Коллекция</a></p></li>
            <li><p><a href="./contacts">Контакты</a></p></li>
            <li><p><a href="./shops">Магазины</a></p></li>
            <li><p><a href="./delivery">Доставка</a></p></li>
            <li><p><a href="./isosoft">Изософт</a></p></li>
            <li><p><a href="./refund">Возврат</a></p></li>
            <li><p><a href="./account">Реквизиты</a></p></li>
            <li><p><a href="./payment">Оплата</a></p></li>
            <li><p><a href="./wholesale">Оптовикам</a></p></li>
            <li><p><a href="./brand">Бренд</a></p></li>
        </ol>
    </div>
</div>