<nav>
    <div class="nav_w">
        <div class="nav_menu">
            <div class="nav_i">
                <div class="nav_title">New</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Women</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Куртки</div>
                    <div class="nav_dropdown_i">Пальто</div>
                    <div class="nav_dropdown_i">Плащи</div>
                    <div class="nav_dropdown_i">Трикотаж</div>
                    <div class="nav_dropdown_i">Платья</div>
                    <div class="nav_dropdown_i">Костюмы</div>
                    <div class="nav_dropdown_i">Брюки</div>
                    <div class="nav_dropdown_i">Аксессуары</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Men</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Куртки</div>
                    <div class="nav_dropdown_i">Пальто</div>
                    <div class="nav_dropdown_i">Плащи</div>
                    <div class="nav_dropdown_i">Аксессуары</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Liniya</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Sale</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Информация</div>
                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Доставка</div>
                    <div class="nav_dropdown_i">Оплата</div>
                    <div class="nav_dropdown_i">Возврат</div>
                    <div class="nav_dropdown_i">Изософт</div>
                    <div class="nav_dropdown_i">Оптовикам</div>
                    <div class="nav_dropdown_i">Реквизиты</div>
                </div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Бренд</div>
            </div>
            <div class="nav_i">
                <div class="nav_title">Коллекции</div>

                <div class="nav_dropdown">
                    <div class="nav_dropdown_i">Campaign SS18</div>
                    <div class="nav_dropdown_i">Lookbook SS/18</div>
                    <div class="nav_dropdown_i">Lookbook FW17/18</div>
                    <div class="nav_dropdown_i">Трикотаж</div>
                    <div class="nav_dropdown_i">Campaign SS17</div>
                    <div class="nav_dropdown_i">Lookbook SS17</div>
                    <div class="nav_dropdown_i">Campaign FW16/17</div>
                </div>
            </div>
            <div class="nav_i"><div class="nav_title">Контакты</div></div>
            <div class="nav_i"><div class="nav_title __active">Магазины</div></div>
        </div>
        <div class="nav_search">
            <div class="nav_title">Поиск</div>
        </div>
        <div class="nav_aside">
            <div class="nav_aside_i">Вход / Регистрация</div>
            <div class="nav_aside_i">Корзина</div>
        </div>

    </div>
</nav>

<div class="stores">
    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Москва</div>
            <div class="stores_address">ул. Новодмитровская, 1, стр. 13</div>
            <br />
            <div class="stores_details">
                10 мин пешком от метро Дмитровская, <br />
                Хлебзавод, универмаг Марсаков
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img1.jpg" />
        </div>
    </div>

    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Санкт-Петербург</div>
            <div class="stores_address">ул. Ораниенбаумская, 29. БЦ</div>
            <br />
            <div class="stores_details">
                2 мин пешком от метро Чкаловская, <br />
                «Печатный двор», вход №2, этаж 4.
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img2.jpg" />
        </div>
    </div>

    <div class="stores_item">
        <div class="stores_description">
            <div class="stores_city">Екатеринбург</div>
            <div class="stores_address">ул. Малышева, 71</div>
            <br />
            <div class="stores_details">
                Универмаг BOLSHOY<br />
                2 этаж
            </div>
            <br />
            <div class="stores_info">
                <div class="stores_phone">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="stores_time">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="stores_photo">
            <img src="img/img3.jpg" />
        </div>
    </div>
</div>