<article class="main">

    <div class="main-catalog">
        <% for(var i = 0; i < public._data['main-catalog'].items.length; i++) { %>
            <div class="main-catalog_item">
                <%- partial("_partials/_main-catalog-card", public._data['main-catalog'].items[i]); %>
            </div>
        <% } %>
    </div>

    <div class="main_description">
        <div class="main_description-media js-hook" data-module="ImageAlign">
            <video controls="controls" poster="./img/contacts/img.jpg"
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"></video>
        </div>
    </div>

    <div class="main_catalog">
        <div class="catalog-title">Новые поступления</div>
        <div class="catalog-list">
            <% for(var i = 0; i < public._data['catalog'].items.length; i++) { %>
            <div class="catalog-list_item">
                <%- partial("_partials/_catalog-card", public._data['catalog'].items[i]); %>
            </div>
            <% } %>
        </div>
        <div class="main_catalog-link">
            <a class="main_link" href="./catalog">WOMAN’S ITEMS</a>
        </div>
        <div class="main_catalog-link">
            <a class="main_link" href="./catalog">MAN’S ITEMS</a>
        </div>
    </div>
</article>
