<div class="text-page">
    <div class="text">
        <h1>ИЗОСОФТ</h1>

        <p>В качестве наполнителя в наших изделиях используется материал ISOSOFT. Это синтетический утеплитель бельгийской компании Libeltex. Из всех существующих на рынке утеплителей мы выбрали его.</p>

        <p>Преимущества утеплителя ISOSOFT:<br/>
            Мягкий и легкий как пух;<br/>
            В два раза теплее обычных синтетических утеплителей.<br/>
            По своей способности сохранять тепло один слой ISOSOFT можно сравнить с 3-4 слоями синтепона;<br/>
            Не требует обязательной химчистки; <br/>
            Легко стирается в обычной стиральной машине; <br/>
            Быстро сохнет;<br/>
            Сохраняет форму и не становится тоньше даже после многочисленных стирок;<br/>
            Дает ощущение комфорта и при + 5°C, и при – 20°C.<br/>
            Для различной температуры – различная плотность: чем плотнее, тем лучшая теплоизоляция;<br/>
            Не деформируется при хранении одежды в сложенном виде;<br/>
            «Дышит»;<br/>
            Не дает телу перегреваться;<br/>
            Не вызывает аллергию;<br/>
            Не «мигрирует» сквозь ткань.</p>

        <p>Примерный расчет показателей плотности для различных погодных условий:<br/>
            40 – 80 г/кв.м.	теплая осень-весна <br/>
            80 – 150 г/ кв.м.	холодная осень-весна, теплая зима<br/>
            150 – 300 г/кв.м.	морозная зима.</p>
    </div>
</div>