<div class="half-layout">
    <div class="half-layout_column">
        <img src="img/login/kurt1.jpg" class="half-layout_cover" />
    </div>
    <div class="half-layout_column">
        <div class="login">
            <form>
                <div class="form_i">
                    <label class="label-block" for="name">Имя</label>
                    <input type="text" id="name" class="base-input" />
                </div>

                <div class="form_i">
                    <label class="label-block" for="lastname">Фамилия</label>
                    <input type="text" id="lastname" class="base-input" />
                </div>

                <div class="form_i">
                    <label class="label-block" for="email">E-mail</label>
                    <input type="email" id="email" class="base-input" />
                </div>

                <div class="form_i">
                    <label class="label-block" for="password">Пароль</label>
                    <input type="password" id="password" class="base-input" />

                    <div class="email-confirmation">
                        <input type="checkbox" checked="checked" id="email-confirmation" />
                        <label class="label-inline" for="email-confirmation">Отправить эти данные по электронной почте</label>
                    </div>
                </div>

                <div class="form_i">
                    <button type="submit" class="button">РЕГИСТРАЦИЯ</button>
                </div>
            </form>
        </div>
    </div>
</div>