<div class="half-layout">
    <div class="half-layout_column">
        <img src="img/login/naya.jpg" class="half-layout_cover" />
    </div>
    <div class="half-layout_column __main">
        <div class="half-layout_header">
            <a href="./registration" class="half-layout_header-left">Регистрация ↳</a>
            <a href="./" class="half-layout_header-right">Закрыть</a>
        </div>

        <form>
            <div class="form_i">
                <label class="label-block" for="email">E-mail</label>
                <%- partial("_partials/_base-input", {
                    id: "email",
                    type: "email",
                    required: true,
                    error: "Введите email"
                }); %>
            </div>

            <div class="form_i">
                <a class="password-recovery" href="./recovery">Забыли пароль</a>
                <label class="label-block" for="password">Пароль</label>
                <%- partial("_partials/_base-input", {
                    id: "password",
                    type: "password",
                    required: true,
                    error: "Введите пароль"
                }); %>

                <div class="email-confirmation">
                    <input type="checkbox" checked="checked" id="email-confirmation" />
                    <label class="label-inline" for="email-confirmation">Соглашаюсь с обработкой персональных данных, принимаю <a href="./agreement">пользовательское соглашение</a></label>
                </div>
            </div>

            <div class="form_i">
                <button type="submit" class="button">АВТОРИЗАЦИЯ</button>
            </div>
        </form>
    </div>
</div>