<form class="personal-page __has-footer">
    <div class="personal-page_menu">
        <%- partial("_partials/_cart-menu"); %>
    </div>
    <div class="personal-page_main">
        <div class="form_i">
            <label class="label-block" for="name">Имя</label>
            <input type="text" id="name" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="surname">Фамилия</label>
            <input type="text" id="surname" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="email">Email</label>
            <input type="email" id="email" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="phone">Телефон</label>
            <input type="tel" id="phone" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="country">Страна</label>
            <label class="base-select_w">
                <select id="country" class="base-select">
                    <option>Россия</option>
                </select>
            </label>
        </div>

        <div class="form_i">
            <label class="label-block" for="post">Почтовый индекс</label>
            <input type="number" id="post" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="area">Область/регион</label>
            <input type="text" id="area" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="city">Населенный пункт</label>
            <input type="text" id="city" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="address">Адрес: улица, дом, квартира, корпус</label>
            <input type="text" id="address" class="base-input" />
        </div>

        <div class="form_i">
            <label class="label-block" for="note">Примечания к заказу</label>
            <textarea id="note" class="textarea"></textarea>
        </div>
    </div>
    <div class="personal-page_aside">
        <div class="personal-page_aside-wrapper">
            <div class="order-prepare-goods">
                <div class="order-prepare-goods_title">Товар</div>
                <div class="order-prepare-goods_item">АРЧИ grey Серый  M x 1<span class="order-prepare-aside">12 000 Р.</span></div>
                <div class="order-prepare-goods_item">Парка BLUE DENIM  S x 1<span class="order-prepare-aside">12 000 Р.</span></div>
            </div>

            <div class="order-prepare-delivery">
                <div class="order-prepare-delivery_title">Доставка</div>
                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery1" checked />
                    <label class="label-inline" for="delivery1">Самовывоз (Санкт-Петербург)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery2" />
                    <label class="label-inline" for="delivery2">Самовывоз (Москва)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery3" />
                    <label class="label-inline" for="delivery3">Балтийский курьер (Москва)<span class="order-prepare-aside">12 000 Р.</span></label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery4" />
                    <label class="label-inline" for="delivery4">EMS<span class="order-prepare-aside">Рассчитывается оператором</span></label>
                </div>
            </div>

            <div class="order-prepare-summary">Итого<span class="order-prepare-aside">12 000 Р.</span></div>

            <div class="order-prepare-payment">
                <div class="order-prepare-payment_title">Оплата</div>

                <div class="form_i">
                    <input type="radio" name="payment" id="payment1" checked />
                    <label class="label-inline" for="payment1">При доставке (наличные или карта)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="payment" id="payment2" />
                    <label class="label-inline" for="payment2">Оплата онлайн (PayAnyWay)</label>
                </div>
            </div>

            <div class="form_i">
                <button type="submit" class="button">Подтвердить заказ</button>
            </div>
        </div>
    </div>
</form>