<form class="personal-page __has-footer">
    <div class="personal-page_menu">
        <%- partial("_partials/_personal-menu"); %>
    </div>
    <div class="personal-page_main __wide">
        <div class="history">
            <div class="history_head">
                <div class="history_head-item">Заказ</div>
                <div class="history_head-item">Дата</div>
                <div class="history_head-item">Статус</div>
                <div class="history_head-item">Итого</div>
            </div>
            <div class="history_body">
                <div class="history_line">
                    <div class="history_group">
                        <div class="history_line-item">№ 5000</div>
                        <div class="history_line-item">17.01.2018</div>
                    </div>
                    <div class="history_group">
                        <div class="history_line-item">Выполнен</div>
                        <div class="history_line-item">34 000 р. за 1 ед.</div>
                    </div>
                    <div class="history_line-item __last">
                        <a href="./order-detail">Смотреть ↳</a>
                    </div>
                </div>

                <div class="history_line">
                    <div class="history_group">
                        <div class="history_line-item">№ 5000</div>
                        <div class="history_line-item">17.01.2018</div>
                    </div>
                    <div class="history_group">
                        <div class="history_line-item">Выполнен</div>
                        <div class="history_line-item">34 000 р. за 1 ед.</div>
                    </div>
                    <div class="history_line-item __last">
                        <a href="./order-detail">Смотреть ↳</a>
                    </div>
                </div>

                <div class="history_line">
                    <div class="history_group">
                        <div class="history_line-item">№ 5000</div>
                        <div class="history_line-item">17.01.2018</div>
                    </div>
                    <div class="history_group">
                        <div class="history_line-item">Выполнен</div>
                        <div class="history_line-item">34 000 р. за 1 ед.</div>
                    </div>
                    <div class="history_line-item __last">
                        <a href="./order-detail">Смотреть ↳</a>
                    </div>
                </div>

                <div class="history_line">
                    <div class="history_group">
                        <div class="history_line-item">№ 5000</div>
                        <div class="history_line-item">17.01.2018</div>
                    </div>
                    <div class="history_group">
                        <div class="history_line-item">Выполнен</div>
                        <div class="history_line-item">34 000 р. за 1 ед.</div>
                    </div>
                    <div class="history_line-item __last">
                        <a href="./order-detail">Смотреть ↳</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>