<div class="personal-page">
    <div class="personal-page_menu">
        <%- partial("_partials/_cart-menu"); %>
    </div>
    <div class="personal-page_main">
        <div class="personal-page_title">
            Спасибо за ваш заказ!<br />
            Заказ сформирован и отправлен в обработку.
        </div>
        <div class="personal-page_text-group">
            Информация о заказе
        </div>

        <div class="order-detail">
            <div class="order-detail_item">АРЧИ grey Серый  M x 1</div>
            <dl class="order-detail_info">
                <dt class="order-detail_info-title">Номер заказа</dt>
                <dd class="order-detail_info-value">5786</dd>

                <dt class="order-detail_info-title">Дата</dt>
                <dd class="order-detail_info-value">28.12.2018</dd>

                <dt class="order-detail_info-title">Метод оплаты</dt>
                <dd class="order-detail_info-value">PayAnyWay</dd>

                <dt class="order-detail_info-title">Доставка</dt>
                <dd class="order-detail_info-value">0 Р.</dd>
            </dl>
            <div class="order-detail-summary">
                <dl class="order-detail_info">
                    <dt class="order-detail_info-title">Итого</dt>
                    <dd class="order-detail_info-value">27 000 Р.</dd>
                </dl>
            </div>
        </div>

        <div class="personal-page_text-group">
            Информация о клиенте
        </div>
        <div class="personal-page_text-group">
            Ольга Голубева<br />
            +7 911 956 78 08<br />
            novayawear@novayawear.com
        </div>
        <div class="personal-page_text-group">
            ул. Юлиуса Фучика д. 14, к. 1, кв 49<br />
            Россия, Санкт-Петербург, Санкт-Петербург<br />
            420123
        </div>

        <a href="./catalog" class="personal-page_continue-link">Продолжить покупки</a>
    </div>
</div>