<div class="text-page">
    <div class="text">
        <p>Включение сетки: <code> + ;</code></p>

        <ol>
            <li><p><a href="./index">Главная</a></p></li>
            <li><p><a href="./catalog">Каталог</a></p></li>
            <li><p><a href="./item">Карда товара</a><br /><br /></p></li>
        </ol>
    </div>
</div>
