<div class="text-page">
    <div class="text">
        <p>Включение сетки: <code> + ;</code></p>

        <ol>
            <li><p><a href="./registration">Регистрация</a></p></li>
            <li><p><a href="./login">Авторизация</a></p></li>
            <li><p><a href="./recovery">Восстановление пароля</a><br /><br /></p></li>

            <li><p><a href="./404">404</a><br /><br /></p></li>

            <li><p><a href="./catalog">Каталог</a></p></li>
            <li><p><a href="./collections">Коллекции</a></p></li>
            <li><p><a href="./collection">Коллекция</a></p></li>
            <li><p><a href="./item">Карда товара</a><br /><br /></p></li>

            <li><p><a href="./contacts">Контакты</a></p></li>
            <li><p><a href="./shops">Магазины</a></p></li>
            <li><p><a href="./delivery">Доставка</a></p></li>
            <li><p><a href="./isosoft">Изософт</a></p></li>
            <li><p><a href="./refund">Возврат</a></p></li>
            <li><p><a href="./account">Реквизиты</a></p></li>
            <li><p><a href="./payment">Оплата</a></p></li>
            <li><p><a href="./wholesale">Оптовикам</a></p></li>
            <li><p><a href="./brand">Бренд</a><br /><br /></p></li>

            <li><p><a href="./personal">Учетная запись</a></p></li>
            <li><p><a href="./change-personal">Редактирование учетной записи</a></p></li>
            <li><p><a href="./orders">История заказов</a></p></li>
            <li><p><a href="./order-detail">Детали заказа</a></p></li>
            <li><p><a href="./change-password">Смена пароля в кабинете</a><br /><br /></p></li>


            <li><p><a href="./cart">Корзина</a></p></li>
            <li><p><a href="./order-prepare">Оформление заказа</a></p></li>
            <li><p><a href="./order-check">Проверка данных</a><br /><br /></p></li>
        </ol>
    </div>
</div>