<div class="text-page">
    <div class="text">
        <h1>ОПЛАТА ОНЛАЙН</h1>
        <h2>БАНКОВСКИЕ КАРТЫ</h2>
        <p>Сервис приёма оплаты предоставлен PayAnyWay.
            PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D
            Secure. В соответствии с ФЗ «О защите прав потребителей»
            в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен
            на банковскую карту, с которой производилась оплата.</p>

        <h1>ЭЛЕКТРОННЫЕ ДЕНЬГИ</h1>

        <h2>МОНЕТА.РУ</h2>
        <p>Для осуществления оплаты с помощью Монета.Ру Вам необходимо иметь кошелек, зарегистрировать который можно
            на сайте системы. Способы пополнения кошелька можно найти на сайте Монета.Ру в разделе «Как пополнить». Зачисление платежей через Монета.Ру происходит мгновенно.</p>

        <h2>WEBMONEY</h2>
        <p>Для совершения оплаты вы должны быть зарегистрированы
            в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.</p>

        <h2>ЯНДЕКС.ДЕНЬГИ</h2>
        <p>Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте системы. Зачисление платежей через сервис Яндекс.Деньги происходит мгновенно.</p>

        <h2>QIWI КОШЕЛЕК</h2>
        <p>Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте сервиса. Если у вас нет QIWI Кошелька, вам необходимо зарегистрировать его на сайте сервиса или в любом из приложений QIWI Кошелька.</p>

        <h1>ОПЛАТА ПРИ ПОЛУЧЕНИИ</h1>
        <p>Оплата наличными или банковскими картами при получении заказа. Возможна примерка и частичный выкуп.</p>

    </div>
</div>