<div class="personal-page">
    <div class="personal-page_menu">
        <%- partial("_partials/_personal-menu"); %>
    </div>
    <div class="personal-page_main">
        <div class="personal-page_text-group">
            Ольга Голубева<br />
            +7 911 956 78 08<br />
            novayawear@novayawear.com
        </div>
        <div class="personal-page_text-group">
            ул. Юлиуса Фучика д. 14, к. 1, кв 49<br />
            Россия, Санкт-Петербург, Санкт-Петербург<br />
            420123
        </div>
        <div class="personal-page_text-group">
            <a class="personal-page_change-link" href="./change-personal">Редактировать</a>
        </div>
    </div>
</div>