<div class="half-layout">
    <div class="half-layout_column">
        <img src="img/login/lora3.jpg" class="half-layout_cover" />
    </div>
    <div class="half-layout_column __main">
        <div class="half-layout_header">
            <a href="./login" class="half-layout_header-left">Вход ↳</a>
            <a href="./" class="half-layout_header-right">Закрыть</a>
        </div>
        
        <form>
            <div class="form_i">
                Забыли свой пароль? Укажите свой Email.<br />
                Ссылку на создание нового пароля вы получите по почте
            </div>

            <div class="form_i">
                <label class="label-block" for="email">E-mail</label>
                <%- partial("_partials/_base-input", {
                    id: "email",
                    type: "email"
                }); %>
            </div>

            <div class="form_i">
                <button type="submit" class="button">СБРОСИТЬ ПАРОЛЬ</button>
            </div>
        </form>
    </div>
</div>