<div class="text-page">
    <div class="text">
        <h1>Возврат</h1>

        <p>Вы можете вернуть не подошедший вам товар, а мы вернем вам его стоимость после получения. Расходы по возврату товара производятся за счет покупателя. В случае, если будет выявлен производственный брак, все расходы по транспортировке мы берем на себя.</p>
    </div>
</div>