<div class="contacts-page">
    <div class="contacts-page_topic">
        <div class="contacts-page_main">
            <div class="contacts-page_wide">
                Москва<br />
                <a href="https://yandex.ru/maps/-/CBRT4-tS0A">ул. Новодмитровская, 1, стр. 13</a>
            </div>
            <div class="contacts-page_wide">
                10 мин пешком от метро Дмитровская, <br />
                Хлебзавод, универмаг Марсаков
            </div>

            <div class="contacts-page_short-wrapper">
                <div class="contacts-page_short">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="contacts-page_short">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="contacts-page_media">
            <img class="contacts-page_img js-hook" src="./img/shops/img1.jpg" data-module="ImageAlign" />
        </div>
    </div>

    <div class="contacts-page_topic">
        <div class="contacts-page_main">
            <div class="contacts-page_wide">
                Санкт-Петербург<br />
                <a href="https://yandex.ru/maps/-/CBRTaAeKGC">ул. Ораниенбаумская, 29. БЦ</a>
            </div>
            <div class="contacts-page_wide">
                2 мин пешком от метро Чкаловская, <br />
                «Печатный двор», вход №2, этаж 4.
            </div>

            <div class="contacts-page_short-wrapper">
                <div class="contacts-page_short">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="contacts-page_short">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="contacts-page_media">
            <img class="contacts-page_img js-hook" src="./img/shops/img2.jpg" data-module="ImageAlign" />
        </div>
    </div>

    <div class="contacts-page_topic">
        <div class="contacts-page_main">
            <div class="contacts-page_wide">
                Екатеринбург<br />
                <a href="https://yandex.ru/maps/-/CBRTaAbWhB">ул. Малышева, 71</a>
            </div>
            <div class="contacts-page_wide">
                Универмаг BOLSHOY<br />
                2 этаж
            </div>

            <div class="contacts-page_short-wrapper">
                <div class="contacts-page_short">
                    Контактный телефон <br />
                    +7 967 343 37 98
                </div>
                <div class="contacts-page_short">
                    Режим работы<br />
                    с 11:00 до 20:00
                </div>
            </div>
        </div>
        <div class="contacts-page_media">
            <img class="contacts-page_img js-hook" src="./img/shops/img3.jpg" data-module="ImageAlign" />
        </div>
    </div>
</div>