<div class="text">
    <h1>ДОСТАВКА</h1>
    <ol>
        <li>
            <h2>САМОВЫВОЗ ИЗ ШОУ-РУМА</h2>
            <p>Адрес: Санкт — Петербург, м. Чкаловская, ул. Ораниенбаумская 27, территория Б/Ц Печатный двор, 1-ый этаж. Вход осуществляется по пропускам через проходную. Просим Вас предварительно звонить перед визитом, чтобы нужная модель была в наличии. т. +7 911 956 78 08.</p>
        </li>
        <li>
            <h2>КУРЬЕРСКАЯ ДОСТАВКА ПО САНКТ–ПЕТЕРБУРГУ 350 руб</h2>
            <p>Данный способ можно осуществить после подтверждения заказа
                в течение следующих двух рабочих дней. Если Вы сомневаетесь
                в размере или цвете, курьер может привезти дополнительный размер или цвет на выбор и подождать в течение 15 минут (если есть необходимость для примерки).</p>
        </li>
        <li>
            <h2>МОСКВА И МОСКОВСКАЯ ОБЛАСТЬ 610 руб</h2>
            <p>осуществляется Курьерской службой «Балтийский курьер».
                Срок доставки 1-2 дня после подтверждения заказа. Стоимость доставки зависит от количества заказанных вещей. Доставка одного изделия составит 610р.</p>
        </li>
        <li>
            <h2>ДОСТАВКА ПО РОССИИ  500–750 руб</h2>
            <p>осуществляется курьерской службой EMS Почта России. Сроки
                и стоимость доставки зависят от региона и веса отправления,
                их можно рассчитать индивидуально на сайте: http://emspost.ru/ru/calc/. Обычно это 3–4 дня, стоимость: 500-750 руб. Курьер сможет доставить ваш заказ домой или в офис. По возможности оставайтесь на связи, обычно перед доставкой звонит оператор и уточняет время и возможность доставки. Если до Вас не смогли дозвониться, то товар привезут в порядке очереди. Убедительно просим Вас точно указывать адрес доставки и контактный телефон.</p>
        </li>
    </ol>

    <h1>ОПЛАТА ОНЛАЙН</h1>
    <h2>БАНКОВСКИЕ КАРТЫ</h2>
    <p>Сервис приёма оплаты предоставлен PayAnyWay.
    PayAnyWay не передает данные Вашей карты магазину и иным третьим лицам. Безопасность платежей с помощью банковских карт обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D
    Secure. В соответствии с ФЗ «О защите прав потребителей»
    в случае, если Вам оказана услуга или реализован товар ненадлежащего качества, платеж может быть возвращен
        на банковскую карту, с которой производилась оплата.</p>

    <h1>ЭЛЕКТРОННЫЕ ДЕНЬГИ</h1>

    <h2>МОНЕТА.РУ</h2>
    <p>Для осуществления оплаты с помощью Монета.Ру Вам необходимо иметь кошелек, зарегистрировать который можно
        на сайте системы. Способы пополнения кошелька можно найти на сайте Монета.Ру в разделе «Как пополнить». Зачисление платежей через Монета.Ру происходит мгновенно.</p>

    <h2>WEBMONEY</h2>
    <p>Для совершения оплаты вы должны быть зарегистрированы
        в системе WebMoney Transfer. К оплате принимаются титульные знаки WMR, зачисление денег происходит мгновенно.</p>

    <h2>ЯНДЕКС.ДЕНЬГИ</h2>
    <p>Для осуществления оплаты с помощью сервиса Яндекс.Деньги вам необходимо иметь кошелек, зарегистрированный на сайте системы. Зачисление платежей через сервис Яндекс.Деньги происходит мгновенно.</p>

    <h2>QIWI КОШЕЛЕК</h2>
    <p>Выберите в качестве оплаты QIWI Кошелёк и введите номер своего сотового телефона. Оплатите созданный автоматически счёт на сайте сервиса. Если у вас нет QIWI Кошелька, вам необходимо зарегистрировать его на сайте сервиса или в любом из приложений QIWI Кошелька.</p>

    <h1>ОПЛАТА ПРИ ПОЛУЧЕНИИ</h1>
    <p>Оплата наличными или банковскими картами при получении заказа. Возможна примерка и частичный выкуп.</p>

    <h1>ИЗОСОФТ</h1>

    <p>В качестве наполнителя в наших изделиях используется материал ISOSOFT. Это синтетический утеплитель бельгийской компании Libeltex. Из всех существующих на рынке утеплителей мы выбрали его.</p>

    <p>Преимущества утеплителя ISOSOFT:
    Мягкий и легкий как пух;
    В два раза теплее обычных синтетических утеплителей.
    По своей способности сохранять тепло один слой ISOSOFT можно сравнить с 3-4 слоями синтепона;
    Не требует обязательной химчистки;
    Легко стирается в обычной стиральной машине
    Быстро сохнет;
    Сохраняет форму и не становится тоньше даже после многочисленных стирок;
    Дает ощущение комфорта и при + 5°C, и при – 20°C.
    Для различной температуры – различная плотность: чем плотнее, тем лучшая теплоизоляция;
    Не деформируется при хранении одежды в сложенном виде;
    «Дышит»;
    Не дает телу перегреваться;
    Не вызывает аллергию;
        Не «мигрирует» сквозь ткань.</p>

    <p>Примерный расчет показателей плотности для различных погодных условий:
    40 – 80 г/кв.м.	теплая осень-весна
    80 – 150 г/ кв.м.	холодная осень-весна, теплая зима
        150 – 300 г/кв.м.	морозная зима.</p>
</div>