<div class="text-page">
    <div class="text">
        <h1>ОПТОВИКАМ</h1>

        <p>
            Мы ищем партнеров для развития бренда.<br />
            По всем вопросам сотрудничества пишите: <a href="mailto:novayawear@gmail.com">novayawear@gmail.com</a>,<br />
            Тел. +7911-956 78 08<br />
            Голубева Ольга
        </p>
    </div>
</div>