<div class="cart-popup">
    <div class="cart-popup_items">
        <a href="./item" class="cart_item-card">
            <div class="cart_item-photo">
                <img class="cart_item-img js-hook" src="./img/brand/img2.jpg" data-module="ImageAlign" style="margin-bottom: 6px;">
            </div>
            <div class="cart_item-desc">
                <div class="cart_item-title">Парка BLUE DENIM</div>
                <div class="cart_item-count">XXL</div>
            </div>
        </a>

        <a href="./item" class="cart_item-card">
            <div class="cart_item-photo">
                <img class="cart_item-img js-hook" src="./img/brand/img2.jpg" data-module="ImageAlign" style="margin-bottom: 6px;">
            </div>
            <div class="cart_item-desc">
                <div class="cart_item-title">Парка BLUE DENIM</div>
                <div class="cart_item-count">XXL</div>
            </div>
        </a>

        <a href="./item" class="cart_item-card">
            <div class="cart_item-photo">
                <img class="cart_item-img js-hook" src="./img/brand/img2.jpg" data-module="ImageAlign" style="margin-bottom: 6px;">
            </div>
            <div class="cart_item-desc">
                <div class="cart_item-title">Парка BLUE DENIM</div>
                <div class="cart_item-count">XXL</div>
            </div>
        </a>
    </div>
    <a class="button" href="./cart">Перейти к покупке</a>
</div>