<footer>
    <div class="footer_left">
        <div class="footer_link">Бренд</div>
        <div class="footer_link">Контакты</div>
        <div class="footer_link">Магазины</div>
        <div class="footer_link">Доставка</div>
        <div class="footer_link">Оплата</div>
        <div class="footer_link">Пользовательское соглашение</div>
    </div>
    <div class="footer_socials">
        <div class="footer_link">Instagram</div>
        <div class="footer_link">Vkontakte</div>
        <div class="footer_link">Facebook</div>
    </div>
    <div class="footer_top">
        <div class="footer_link">Back to top</div>
    </div>
</footer>