<a href="<%- href %>" class="main-catalog-card">
    <div class="main-catalog-card_media js-hook" data-module="ImageAlign">
        <img class="main-catalog-card_img" src="<%- image %>" />
        <div class="main-catalog-card_title"><%- title %></div>
    </div>
</a>
