@import "../_utils.less";

.default-container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border-left: var(--gap-width) transparent solid;
    border-right: var(--gap-width) transparent solid;
    }