@import "../_utils.less";

html {
    padding: 0;
    margin: 0;
    /* Закодируем half-gap в пикселах. 1rem = 5px. Тогда gap = 2rem = 10px  */
    font-size: 5px;
    line-height: 20px;
    font-family: SuisseIntl, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;

    /* Переопределение gap */
    .tablet-portrait-breakpoint({
        font-size: 10px;
        });

    &.has-lightbox {
        overflow: hidden;
        }
    }

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    }

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    }

p, ul, ol {
    padding: 0;
    margin: 0;
    }

ul, ol {
    list-style: none;
    }

hr {
    margin: 0;
    border: 0 none;
    }

a {
    color: #a5a5a5;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        }
    }

button {
    background: transparent;
    font-family: SuisseIntl,Arial,Helvetica,sans-serif;
    }

article, aside, figcaption, figure, footer, header, section {
    display: block;
    margin: 0;
    padding: 0;
    }