@import "../_utils.less";

.text {

    h1 {
        .large-text();
        text-transform: uppercase;
        margin-bottom: 30px;
        }

    h2, h3, h4, h5, h6 {
        .large-text();
        text-transform: uppercase;
        }

    p {
        .large-text();
        margin-bottom: 30px;
        }

    ol {
        counter-reset: list;
        }

    ol li {

        &:before {
            .large-text();
            counter-increment: list;
            content: counters(list, ".") ". ";
            }

        & > *:first-child {
            display: inline;
            }
        }

    table {
        width: 100%;
        border-collapse: collapse;
        }

    th {
        font-weight: 400;
        text-align: left;
        border: 0 none;
        border-left: 20px transparent solid;
        padding: 10px 0;
        vertical-align: bottom;

        &:first-child {
            border-left: 0 none;
            }
        }

    td {
        border: 0 none;
        border-top: 1px #000 solid;
        border-left: 20px transparent solid;
        padding: 9px 0 10px;

        &:first-child {
            border-left: 0 none;
            }
        }
    }